<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron container navbar navbar-fixed-top" style="padding-top: 0; padding-bottom: 0; margin-bottom: 0;">

    <nav class="navbar navbar-inverse" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Costs</a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">

                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Purchases</a></li>
                    <li><a href="#">Users</a></li>
                    <li><a href="#">Prices</a></li>
                    <li><a href="#">Analytics</a></li>
                    <li><a href="#">Contact</a></li>
                    <li>
                        <button class="btn btn-danger navbar-btn"
                                title="Mobile phone"
                                data-content="+48(537)123-456"
                                data-toggle="popover"
                                data-placement="bottom"><span class="glyphicon glyphicon-earphone"></span> Call Us
                        </button>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-expanded="false">

                            <img id="imgNavSel" src="" alt="..." class="img-thumbnail icon-small">  <span
                                id="lanNavSel">PL</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a id="navPol" href="#" class="language"> <img id="imgNavPol" src="" alt="..."
                                                                               class="img-thumbnail icon-small">  <span
                                    id="lanNavPol">Polski</span></a>
                            </li>
                            <li><a id="navEng" href="#" class="language"><img id="imgNavEng" src="" alt="..."
                                                                              class="img-thumbnail icon-small">  <span
                                    id="lanNavEng">English</span></a>
                            </li>
                            <li><a id="navRus" href="#" class="language"><img id="imgNavRus" src="" alt="..."
                                                                              class="img-thumbnail icon-small">  <span
                                    id="lanNavRus">Russian</span></a>
                            </li>
                            <li><a id="navFra" href="#" class="language"><img id="imgNavFra" src="" alt="..."
                                                                              class="img-thumbnail icon-small">  <span
                                    id="lanNavFra">Francais</span></a>
                            </li>
                            <li><a id="navDeu" href="#" class="language"> <img id="imgNavDeu" src="" alt="..."
                                                                               class="img-thumbnail icon-small">  <span
                                    id="lanNavDeu">Deutsch</span></a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>

            </div>

        </div>
    </nav>

</div>

<div class="jumbotron container text-center" style="padding: 0 20px 20px 20px; margin-bottom: 0; margin-top: 73px;">

    <hr>
    <h2><i>Me</i></h2>

    <div class="form-group">
        <label for="username">Name:</label>
        <input type="text" class="form-control" id="username" readonly
               th:value="*{username}">
    </div>

</div>

<hr>
<p class="text-center">Written and coded <a href="https://github.com/unlimit1984/costs" style="color: black !important"
                                            target="_blank"><u>here</u></a></p>

</body>
</html>

