<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Purchase List</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
    <div class="jumbotron" style="padding: 1px 20px 20px 20px; margin: 0;">
        <h3><a href="./">Main page</a></h3>
        <hr>
        <h3>Purchases</h3>

        <a href="./purchase/add">Add new</a>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Money</th>
                <th>CreatedDate</th>
                <th>Category</th>
                <th>Comment</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="purchase : ${purchases}">
                <td th:text="${purchase.id}"></td>
                <td th:text="${#numbers.formatDecimal(purchase.money,1,2)}"></td>
                <td th:text="${purchase.createdDate}"></td>
                <td th:text="${purchase.category}"></td>
                <td th:text="${purchase.comment}"></td>
                <td>
                    <div class="btn-group">
                        <a th:href="${'./purchase/id?id=' + purchase.id}" class="btn btn-primary">Edit</a>
                        <a th:href="${'./purchase/removePurchase?id=' + purchase.id}" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>