<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Purchase List</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .popover {
            min-width: 140px ! important;
        }

        .icon-small {
            height: 18px;
            margin: 0;
            padding: 0;
        }

        .icon-medium {
            height: 22px;
            margin: 0;
            padding: 0;
        }

    </style>

    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();

            var polImgLink = "http://www.roemheld.de/IT/Data/Images/Address/Polen.gif";
            var engImgLink = "http://www.roemheld.de/IT/Data/Images/Address/Grossbritanien.gif";
            var rusImgLink = "http://www.roemheld.de/IT/Data/Images/Address/Russland.gif";
            var deuImgLink = "http://www.roemheld.de/IT/Data/Images/Address/Deutschland.gif";
            var fraImgLink = "http://www.roemheld.de/IT/Data/Images/Address/Frankreich.gif";

            var imgBtnSel = $('#imgBtnSel');
            var imgBtnPol = $('#imgBtnPol');
            var imgBtnEng = $('#imgBtnEng');
            var imgBtnRus = $('#imgBtnRus');
            var imgBtnDeu = $('#imgBtnDeu');
            var imgBtnFra = $('#imgBtnFra');

            var imgNavSel = $('#imgNavSel');
            var imgNavPol = $('#imgNavPol');
            var imgNavEng = $('#imgNavEng');
            var imgNavRus = $('#imgNavRus');
            var imgNavDeu = $('#imgNavDeu');
            var imgNavFra = $('#imgNavFra');

            var spanNavSel = $('#lanNavSel');
            var spanBtnSel = $('#lanBtnSel');

            imgBtnSel.attr("src", polImgLink);
            imgBtnPol.attr("src", polImgLink);
            imgBtnEng.attr("src", engImgLink);
            imgBtnRus.attr("src", rusImgLink);
            imgBtnDeu.attr("src", deuImgLink);
            imgBtnFra.attr("src", fraImgLink);

            imgNavSel.attr("src", polImgLink);
            imgNavPol.attr("src", polImgLink);
            imgNavEng.attr("src", engImgLink);
            imgNavRus.attr("src", rusImgLink);
            imgNavDeu.attr("src", deuImgLink);
            imgNavFra.attr("src", fraImgLink);

            $(".language").on("click", function (event) {
                var currentId = $(this).attr('id');

                if (currentId == "navPol") {
                    imgNavSel.attr("src", polImgLink);
                    spanNavSel.text("PL");
                } else if (currentId == "navEng") {
                    imgNavSel.attr("src", engImgLink);
                    spanNavSel.text("ENG");
                } else if (currentId == "navRus") {
                    imgNavSel.attr("src", rusImgLink);
                    spanNavSel.text("RU");
                } else if (currentId == "navDeu") {
                    imgNavSel.attr("src", deuImgLink);
                    spanNavSel.text("DEU");
                } else if (currentId == "navFra") {
                    imgNavSel.attr("src", fraImgLink);
                    spanNavSel.text("FRA");
                }

                if (currentId == "btnPol") {
                    imgBtnSel.attr("src", polImgLink);
                    spanBtnSel.text("PL");
                } else if (currentId == "btnEng") {
                    imgBtnSel.attr("src", engImgLink);
                    spanBtnSel.text("ENG");
                } else if (currentId == "btnRus") {
                    imgBtnSel.attr("src", rusImgLink);
                    spanBtnSel.text("RU");
                } else if (currentId == "btnDeu") {
                    imgBtnSel.attr("src", deuImgLink);
                    spanBtnSel.text("DEU");
                } else if (currentId == "btnFra") {
                    imgBtnSel.attr("src", fraImgLink);
                    spanBtnSel.text("FRA");
                }

            });


        });

    </script>

</head>
<body>

<div class="jumbotron container navbar navbar-fixed-top" style="padding-top: 0; padding-bottom: 0; margin-bottom: 0;">

    <nav class="navbar navbar-inverse" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Costs</a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">

                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Purchases</a></li>
                    <li><a href="#">Users</a></li>
                    <li><a href="#">Prices</a></li>
                    <li><a href="#">Analytics</a></li>
                    <li><a href="#">Contact</a></li>
                    <li>
                        <button class="btn btn-danger navbar-btn"
                                title="Mobile phone"
                                data-content="+48(537)123-456"
                                data-toggle="popover"
                                data-placement="bottom"><span class="glyphicon glyphicon-earphone"></span> Call Us
                        </button>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-expanded="false">

                            <img id="imgNavSel" src="" alt="..." class="img-thumbnail icon-small">  <span
                                id="lanNavSel">PL</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a id="navPol" href="#" class="language"> <img id="imgNavPol" src="" alt="..."
                                                                               class="img-thumbnail icon-small">  <span
                                    id="lanNavPol">Polski</span></a>
                            </li>
                            <li><a id="navEng" href="#" class="language"><img id="imgNavEng" src="" alt="..."
                                                                              class="img-thumbnail icon-small">  <span
                                    id="lanNavEng">English</span></a>
                            </li>
                            <li><a id="navRus" href="#" class="language"><img id="imgNavRus" src="" alt="..."
                                                                              class="img-thumbnail icon-small">  <span
                                    id="lanNavRus">Russian</span></a>
                            </li>
                            <li><a id="navFra" href="#" class="language"><img id="imgNavFra" src="" alt="..."
                                                                              class="img-thumbnail icon-small">  <span
                                    id="lanNavFra">Francais</span></a>
                            </li>
                            <li><a id="navDeu" href="#" class="language"> <img id="imgNavDeu" src="" alt="..."
                                                                               class="img-thumbnail icon-small">  <span
                                    id="lanNavDeu">Deutsch</span></a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>

            </div>

        </div>
    </nav>

</div>

<div class="jumbotron container text-center" style="padding: 0 20px 20px 20px; margin-bottom: 0; margin-top: 73px;">

    <hr>
    <h2><i>Purchase List</i></h2>
    <div class="row text-left">
        <div class="col-xs-1"></div>

        <div class="col-xs-10">
            <a href="./purchase/add">Add new</a>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Money</th>
                    <th>CreatedDate</th>
                    <th>Category</th>
                    <th>Comment</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="purchase : ${purchases}">
                    <td th:text="${purchase.id}"></td>
                    <td th:text="${#numbers.formatDecimal(purchase.money,1,2)}"></td>
                    <td th:text="${purchase.createdDate}"></td>
                    <td th:text="${purchase.category}"></td>
                    <td th:text="${purchase.comment}"></td>
                    <td>
                        <div class="btn-group">
                            <a th:href="${'./purchase/id?id=' + purchase.id}" class="btn btn-primary">Edit</a>
                            <a th:href="${'./purchase/removePurchase?id=' + purchase.id}"
                               class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <hr>

            <ul class="pagination">
                <li><a href="./purchases?page=1">1</a></li>
                <li><a th:href="${'./purchases?page=' + ( (page<=1) ? 1 : (page - 1))}">&lt;</a></li>
                <li class="active"><a th:href="${'./purchases?page=' + page}"><span th:text="${page}"/></a></li>
                <li><a th:href="${'./purchases?page=' + ((page>=totalPages) ? totalPages : (page + 1)) }">&gt;</a></li>
                <li><a th:href="${'./purchases?page=' + totalPages}"><span th:text="${totalPages}"/></a></li>
            </ul>

        </div>

        <div class="col-xs-1"></div>
    </div>

</div>

<hr>
<p class="text-center">Written and coded <a href="https://github.com/unlimit1984/costs" style="color: black !important" target="_blank"><u>here</u></a></p>

</body>
</html>